


* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    background-attachment:fixed;
    font-family: Fira Sans, sans-serif;
}

.body-home  {
    margin: 0;
    padding: 0;

    background-image: url(https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e7c21a34149343b88c20898_Gradient-home.png), linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    padding: 20px 35px 13px 60px;
}
    
        .logo-1 {
            width: 43px;
            color: aliceblue;
            animation: App-logo-spin infinite 3s linear;
        }

        .logo-1:hover {
            animation: App-logo-spin infinite 0.15s linear;
        }

        @keyframes App-logo-spin {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
          }

    #row-content {
        display: flex;
        list-style: none;
        padding: 0.5rem;
    }
    
        #ul-list {
            display: flex;
            list-style: none;
        }
    
        
            .nav-link {
                padding: 12px 20px 20px;
                font-family: Poppins, sans-serif;
                font-size: 18px;
                font-weight: 600;
                /* line-height: 28px; */
                /* display: inline-block; */
                text-decoration: none;
                color: #222;
                transition: 1s;
            }
    
            .nav-link:hover {
            background: -webkit-linear-gradient(90deg, rgba(107,48,195,1) 0%, rgba(249,46,46,1) 51%, rgba(255,143,57,0.9332983193277311) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }

            #ul-list .nav-link::after, #ul-list .nav-link.hover::after {
                content: "";
                width: 30%;
                height: 2px;
                position: absolute;
                bottom: -4px;
                left: 20px;
            }
            #close {
                display: none;
            }
    
    .column-content {
        display: none;
        align-items: center;
    }

        #bar {
            padding: 25px;
            font-size: 27px;
        }

    


    


/* header section */

.section-home {
    margin: 3rem 4rem 4rem 4rem;
}
    .standerd-container {
        display: block;
        width: 100%;
        /* max-width: 960px; */
        border-bottom: 1px solid black;
    }

        .home-h1 {
            font-family: Fira Sans, sans-serif;
            line-height: 3rem;
            font-size: 40px;
            /* transition: 5s ease-in-out; */
        }
            

            .para {
                font-family: Inconsolata, sans-serif;
                font-size: 20px;
                padding-right: 6rem;
                margin-bottom: 3.5rem;
            }



      


/* skills section */

.skill-section {
    height: 230px;
    width: 100%;
    padding: 0rem 4rem;
}

    .skill-sub-section {
        border-bottom: 1px solid black;
        padding-bottom: 20px;
    }

        .skills-container {
            display: grid;
            height: 150px;
            /* border-bottom: 1px solid black; */
            justify-items: center;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
        }

            .skills {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
            }

                .skill-logos {
                    margin-bottom: 10px;
                }

                    .skill-logo {
                        font-size: 60px;
                    }

                    #html5 {
                        color: rgb(234 79 8);
                    }
                    #css3 {
                        color: #007fe8;
                    }
                    #js {
                        color: rgb(255 205 15);
                    
                    }
                    #java {
                        color: #3b79ab;
                    }

                .skill-name{
                    font-weight: 600;
                }



/* portfolio work */
.project-section {
    padding: 3rem 4rem 0rem 4rem;
}
    .project-heading {
        font-size: 21px;
        /* margin-bottom: 40px; */
    }
    
    .project-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        gap: 4rem;
        width: 100%;
        height: 40rem;
        padding: 1rem 0rem 4rem 0rem;
        border-bottom: 1px solid black;
        
    }
            .image-container {
                width: 350px;
                height: 100%;
                /* border: 5px solid black; */
                border: none;
                border-radius: 20px;
                background-color: black;
            }

                .project-button {
                    display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    /* display: block; */
                    width: 100%;
                    height: 100%;
                    color: azure;
                    background-color: transparent;
                    opacity: 1;
                    border: none;
                    transition: 0.5s ease;
                }

                    .project-button:hover .image{
                        /* translate: 10% 10%; */
                        
                        opacity: 0.7;
                    }
                    .project-button:active {
                        transform: scale(0.9);
                    }
                    .image {
                        position: absolute;
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: 15%;
                        opacity: 0.3;
                        /* border: 5px solid black; */
                        border: none;
                        border-radius: 20px;
                        transition: 0.5s ease;
                    }

                    .field-title {
                        position: absolute;
                        text-align: center;
                        padding: 10px;
                    }
                    

/* project list section */

    .outer-project-container {
        width: 100%;
        height: 90%;
        margin-top: -3rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
    }

        .back-btn {
            width: 70px;
            height: 33px;
            padding: 10px;
            font-size: 17px;
            border: none;
            display: flex;
            color: #000000;
            background-color: transparent;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            transition: 0.5s ease;
        }
            .back-btn:hover {
                background-color: #000000;
                color: #ffffff;
            }

        .project-sub-container {
            width: 100%;
            height: 100%;
            margin: 1rem;
            margin: 2rem 1rem 0rem 0rem;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
        }

            .project-list-div {
                width: 50%;
                height: 100%;
                margin: 0px 15px;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: flex-start;
                overflow-y: scroll;
            }

                .project-div {
                    width: 100%;
                    margin: 0px 0px 11px 0px;
                    border: 1px solid;
                    border-radius: 15px;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }

                    .project-header {
                        width: 70%;
                        margin-top: 0.5rem;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                    }

                        .project-header > h3,h5 {
                            margin-top: 0;
                            margin-bottom: 15px;
                        }

                        .project-header > h5 {
                            display: flex;
                            margin-left: 15px;
                            /* width: 0%; */
                            background-color: #000000;
                            color: #ffffff;
                            height: 25px;
                            width: 80px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 20px;
                        }

                    .link-div {
                        width: 16rem;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-content: center;
                        align-items: center;
                        justify-content: space-between;
                    }

                        .link-div > a {
                            width: 110px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            background-color: #000000;
                            color: #ffffff;
                            justify-content: center;
                            flex-wrap: nowrap;
                            border-radius: 10px;
                            text-decoration: none;
                        }

            .about-project-section {
                width: 50%;
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
            }
            
                .img-section {
                    width: 100%;
                    height: 70%;
                    border: none;
                    border-radius: 10px;
                    margin-bottom: 1rem;
                    padding: 1rem;
                    background-color: #00000045;
                }

                    .img-section > img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }

                .project-info {
                    width: 100%;
                    height: 20%;
                    text-overflow: ellipsis;
                    border: 1px solid;
                    border-radius: 10px;
                }

                    .project-info > div {
                        width: 100%;
                        height: 100%;
                        padding: 10px;
                        text-align: center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }




    /* footer section */

        .footer-section {
            width: 100%;
            height: 25rem;
        }

            .sub-section {
                width: 100%;
                height: 22rem;
                padding: 1rem;
                display: flex;
                margin: 50px 0px 45px 0px;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                /* background-image: url(https://uploads-ssl.webflow.com/5e2520252e290c852ed89624/5e7c21a34149343b88c20898_Gradient-home.png);
                background-repeat: no-repeat; */
            }

                .footer-container-1 {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: space-evenly;
                }

                    .footer-sub-container-para {
                        width: 85%;
                        display: flex;
                        font-size: 20px;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        align-items: center;
                    }

                    .footer-sub-container-para > p {
                        text-align: center;
                    }

                .footer-container-2 {
                    width: 85%;
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    flex-direction: column;
                    align-items: center;
                }

                    .footer-sub-container-header > h2 {
                        margin-bottom: 2rem;
                    }

                    .footer-sub-container-links {
                        width: 30rem;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-evenly;
                    }

                        .contact {
                            font-size: 33px;
                            text-decoration: none;
                            color: #000000;
                            cursor: pointer;
                        }

                            #github {

                            }

                            #gmail:hover {
                                color: #d62424;
                            }

                            #twitter:hover {
                                color: #00d7ff;
                            }

                            #linkedin:hover {
                                color: #0667d3;
                            }

                            #github:hover {
                                background: -webkit-linear-gradient(90deg, rgba(107,48,195,1) 0%, rgba(249,46,46,1) 51%, rgba(255,143,57,0.9332983193277311) 100%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }




/* media queries */
            
@media only screen and (max-width: 768px){
    
        #row-content {
            display: flex;
            flex-direction: column;
        } 

        #ul-list.active {
            right: 0;
        } 

        #ul-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            position: fixed;
            top: -16px;
            right: -300px;
            height: 100%;
            width: 15rem;
            background-color: white;
            box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
            padding: 35px 0 0 0px;
            transition: 0.3s;
            flex-wrap: nowrap;
        }

        .nav-item {
            padding: 8px;
        }

        #close {
            display: initial;
            position: absolute;
            top: 15px;
            left: 20px;
            color: #222;
            font-size: 24px;
        }

        .column-content {
            display: flex;
            align-items: center;
        }


        /* project section */

        .outer-project-container {
            width: 100%;
            height: 100%;
            margin-top: -3rem;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            align-items: center;
        }
    
            .back-btn {
                width: 70px;
                height: 33px;
                /* margin: -1rem; */
                font-size: 17px;
                border: none;
                text-align: center;
                background-color: #000000;
                color: #ffffff;
                border-radius: 10px;
            }
    
            .project-sub-container {
                width: 100%;
                height: 100%;
                margin: 1rem;
                margin: 2rem 0rem 0rem 0rem;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-evenly;
                align-items: center;
            }
    
                .project-list-div {
                    width: 20rem;
                    height: 100%;
                    margin: 0px 15px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: flex-start;
                    overflow-y: scroll;
                }
    
                    .project-div {
                        width: 100%;
                        margin: 0px 0px 11px 0px;
                        border: 1px solid;
                        border-radius: 15px;
                        padding: 1rem;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: center;
                    
                    }
    
                        .project-header {
                            width: 70%;
                            margin-top: 0.5rem;
                            flex-wrap: nowrap;
                        }
    
                            .project-header > h2 {
                                margin-top: 0;
                                margin-bottom: 15px;
                                font-size: 19px;

                            }
    
                            .project-header > h5 {
                                margin-left: 0px 0px 15px 15px;
                                height: 25px;
                                width: 110px;
                                border-radius: 20px;
                                font-size: 10px;
                            }
    
                        .link-div {
                            width: 14rem;
                            flex-wrap:nowrap;
                            justify-content: space-evenly;
                        }
    
                            .link-div > a {
                                width: 100px;
                                height: 30px;
                                font-size: 14px;
                            }
    
                .about-project-section {
                    min-width: 16rem;
                    height: 100%;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                }
                
                    .img-section {
                        width: 100%;
                        height: 70%;
                        border: none;
                        border-radius: 10px;
                        margin-bottom: 1rem;
                        padding: 1rem;
                        background-color: #00000045;
                    }
    
                        .img-section > img {
                            object-fit: cover;
                        }
    
                    .project-info {
                        width: 100%;
                        height: 20%;
                        border-radius: 10px;
                    }
    
                        .project-info > div {
                            width: 100%;
                            height: 100%;
                            padding: 10px;
                        }



    
  
}

@media only screen and (max-width: 640px) {
        .logo-1 {
            width: 35px;
        }

        #bar {
            font-size: 22px;
        }

        #ul-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            position: fixed;
            /* top: 0; */
            right: -320px;
            height: 32%;
            width: 50%;
        }

        .project-container {
            padding: 2rem 0rem 2rem 0rem;
        }

        /* project section */

        .outer-project-container {
            width: 100%;
            height: 100%;
            /* margin-top: -3rem; */
        }
    
            .back-btn {
                width: 70px;
                height: 33px;
                /* margin: -1rem; */
                font-size: 17px;
                border-radius: 10px;
            }
    
            .project-sub-container {
                width: 100%;
                height: 100%;
                margin: 1rem;
                margin: 2rem 0rem 0rem 0rem;
            }
    
                .project-list-div {
                    width: 20rem;
                    height: 100%;
                    margin: 0px 15px 0px 0px;
                }
    
                    .project-div {
                        width: 100%;
                        margin: 0px 0px 10px 0px;
                        border-radius: 15px;
                        padding: 6px;
                    
                    }
    
                        .project-header {
                            width: 75%;
                            margin-top: 0.5rem;
                            flex-wrap: nowrap;
                        }
    
                            .project-header > h2 {
                                margin-top: 0;
                                margin-bottom: 15px;
                                font-size: 15px;

                            }
    
                            .project-header > h5 {
                                margin-left: 0px 0px 15px 15px;
                                height: 25px;
                                width: 101px;
                                border-radius: 20px;
                                font-size: 8px;
                            }
    
                        .link-div {
                            width: 10rem;
                            flex-wrap:nowrap;
                            justify-content: space-evenly;
                        }
    
                            .link-div > a {
                                width: 65px;
                                height: 25px;
                                font-size: 10px;
                            }
    
                .about-project-section {
                    min-width: 16rem;
                    height: 100%;
                }
                
                    .img-section {
                        width: 100%;
                        height: 70%;
                        border: none;
                        border-radius: 10px;
                        margin-bottom: 1rem;
                        padding: 1rem;
                        background-color: #00000045;
                    }
    
                        .img-section > img {
                            object-fit: cover;
                        }
    
                    .project-info {
                        width: 100%;
                        height: 20%;
                        border-radius: 10px;
                    }
    
                        .project-info > div {
                            width: 100%;
                            height: 100%;
                            padding: 10px;
                        }


    /* footer section */

    .footer-section {
        height: 30rem;
    }

        .sub-section {
            height: 30rem;
        }

        .footer-sub-container-links {
            padding-bottom: 4rem;
        }
}

@media only screen and (width <= 590px){
        
    .section-home {
        margin: 3rem 4rem 2.5rem 4rem;
    }
    
    .home-h1 {
        font-size: 30px;
        line-height: 45px;
    }

    .para {
        font-size: 15px;
        padding-right: 2rem;
        margin-bottom: 2.5rem;
    }

    .skill-section {
        height: 225px;
    }
    
            .skill-heading-container h1 {
                font-size: 25px;
            }
    
            .skills-container {
                height: 120px;
            }
    
                /* .skills {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: center;
                } */
    
                    .skill-logos {
                        margin-bottom: 6px;
                    }    
                    
                        .skill-logo {
                            font-size: 50px;
                        }

                    .skill-name{
                        font-size: 15px;
                    }



    /* portfolio work */

    .project-section {
        padding: 0rem 4rem;
    }
        .project-heading > h1{
            font-size: 25px;
            margin: 6px 0px;
        }
        
        .project-container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            width: 100%;
            /* height: 60rem; */
            padding: 2rem 0rem 3rem 0rem;
            
        }
                .image-container {
                    width: 210px;
                    height: 100%;
                    border-radius: 15px;
                }

                    .project-button{
                        color: azure;
                        opacity: 1;
                        transition: 0.5s ease;
                    }

                        .project-button:hover .image{
                            /* translate: 10% 10%; */
                            opacity: 0.6;
                        }
                        .project-button:active {
                            transform: scale(0.93);
                        }
                        .image {
                            object-position: 15%;
                            border-radius: 15px;
                            transition: 0.5s ease;
                        }

                        .field-title {
                            padding: 10px;
                        }



        /* project section */

        .project-container {
            height: 40rem;
        }

        .outer-project-container {
            width: 100%;
            height: 100%;
            /* margin-top: -3rem; */
        }
    
            .back-btn {
                width: 70px;
                height: 33px;
                /* margin: -1rem; */
                font-size: 17px;
                border-radius: 10px;
            }
    
            .project-sub-container {
                width: 100%;
                height: 100%;
                margin: 1rem;
                margin: 2rem 0rem 0rem 0rem;
            }
    
                .project-list-div {
                    width: 100%;
                    height: 100%;
                    margin: 0px 0px 0px 0px;
                }
    
                    .project-div {
                        width: 100%;
                        height: 8rem;
                        margin: 0px 0px 10px 0px;
                        border-radius: 15px;
                        padding: 6px;
                    
                    }
    
                        .project-header {
                            width: 80%;
                            margin-top: 0.5rem;
                            flex-wrap: nowrap;
                        }
    
                            .project-header > h2 {
                                margin-top: 0;
                                margin-bottom: 15px;
                                font-size: 20px;

                            }
    
                            .project-header > h5 {
                                margin-left: 0px 0px 15px 15px;
                                height: 25px;
                                width: 65px;
                                border-radius: 20px;
                                font-size: 9px;
                            }
    
                        .link-div {
                            width: 15rem;
                            flex-wrap:nowrap;
                            justify-content: space-evenly;
                        }
    
                            .link-div > a {
                                width: 80px;
                                height: 35px;
                                font-size: 12px;
                            }
    
                .about-project-section {
                    display: none;
                }


    /* footer section */

    .footer-section {
        width: 100%;
        height: 21rem;
    }

        .sub-section {
            width: 100%;
            height: 22rem;
            padding: 0;
            margin: 15px 0px 20px 0px;

        }

            .footer-container-1 {
                width: 100%;
                height: 100%;
            }
                .footer-sub-container-header > h1 {
                    font-size: 25px;
                }

                .footer-sub-container-para {
                    width: 75%;
                }

                .footer-sub-container-para > p {
                    font-size: 15px;
                }

            .footer-container-2 {
                width: 70%;
            }

                .footer-sub-container-header > h2 {
                    margin-bottom: 2rem;
                    font-size: 23px;
                }

                .footer-sub-container-links {
                    width: 100%;
                }

                    .contact {
                        font-size: 30px;
                    }
}

@media only screen and (width <= 452px) {

    #ul-list {
        width: 50%;
    }
    .nav-link {
        font-size: 14px;
    }

    .nav-bar {
        padding: 20px 30px 0px;
    }

        #bar {
            padding: 0px;
        }

    .section-home {
        margin: 0rem 1rem 1.5rem 2rem;
    }

    .home-h1 {
        font-size: 20px;
        line-height: 30px;
    }

    .para {
        font-size: 12px;
        padding-right: 1rem;
        margin-bottom: 1.7rem;
        font-weight: 600;
    }

    .skill-section {
        height: 275px;
        width: 100%;
        padding: 0rem 2rem;
    }
    
        .skill-sub-section {
            padding-bottom: 15px;
        }

            .skill-heading-container h1 {
                font-size: 18px;
            }
    
            .skills-container {
                display: grid;
                grid-gap: 5px;
                height: 200px;
                /* border-bottom: 1px solid black; */
                justify-items: center;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
            }
    
                .skills {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: center;
                }
    
                    .skill-logos {
                        margin-bottom: 6px;
                    }

                        .skill-logo {
                            font-size: 40px;
                        }

                    .skill-name{
                        font-size: 14px; 
                   }


    /* portfolio work */

    .project-section {
        padding: 0rem 2rem;
    }

        .project-heading > h1{
            font-size: 18px;
        }

        .project-header h1{
            font-size: 18px;
            margin: 1px 0px;
        }
        
        .project-container {
            gap: 1.5rem;
            width: 100%;
            height: 40rem;
            padding: 1.5rem 0rem 2rem 0rem;
            
        }
                .image-container {
                    width: 145px;
                    height: 100%;
                    border-radius: 10px;
                }

                    .project-button{
                        color: azure;
                        opacity: 1;
                        transition: 0.5s ease;
                    }

                        .project-button:hover .image{
                            /* translate: 10% 10%; */
                            opacity: 0.6;
                        }
                        .project-button:active {
                            transform: scale(0.93);
                        }
                        .image {
                            object-position: 15%;
                            border-radius: 10px;
                            transition: 0.5s ease;
                        }

                        .field-title {
                            font-size: 18px;
                            padding: 10px;
                        }

    /* project section */

    .project-div {
        height: 7rem;
        border-radius: 8px;
    }
    
        .project-header {
            width: 100%;
            margin-top: 0.5rem;
            flex-wrap: nowrap;
        }

            .project-header > h2 {
                margin-top: 0;
                margin-bottom: 15px;
                font-size: 20px;

            }

            .project-header > h5 {
                margin-left: 0px 0px 15px 15px;
                height: 25px;
                width: 65px;
                border-radius: 20px;
                font-size: 9px;
                font-weight: 100;
            }

        .link-div {
            width: 15rem;
        }

            .link-div > a {
                width: 70px;
                height: 30px;
                font-size: 10px;
                border-radius: 8px;
            }



    /* footer section */

    .footer-section {
        width: 100%;
        height: 21rem;
    }

        .sub-section {
            width: 100%;
            height: 22rem;
            margin: 10px 0px 20px 0px;

        }

            .footer-container-1 {
                width: 100%;
                height: 100%;
            }
                .footer-sub-container-header > h1 {
                    font-size: 18px;
                }

                .footer-sub-container-para {
                    width: 75%;
                }

                .footer-sub-container-para > p {
                    margin: 10px 0px;
                    font-size: 13px;
                }

            .footer-container-2 {
                width: 70%;
            }

                .footer-sub-container-header > h2 {
                    font-size: 18px;
                    margin: 0px 0px 25px;
                }

                .footer-sub-container-links {
                    width: 100%;
                }

                    .contact {
                        font-size: 25px;
                    }
}

@media only screen and (width <= 320px) {


    .nav-bar {
        padding: 10px 15px 0px;
    }

        #bar {
            padding-right: 10px;
        }

    .section-home {
        margin: 0px 15px 25px 15px;
    }

    #ul-list {
        width: 100%;
    }

    .skill-section {
        padding: 0rem 1rem;
    }

    /* portfolio work */

    .project-section {
        padding: 0rem 1rem;
    }

        .project-heading > h1 {
            margin-top: 0;
            font-size: 18px;
        }

        .project-container {
            gap: 1rem;
            padding: 1.5rem 0rem 1.5rem 0rem;
            border: none;
            
        }


     /* project section */

     .back-btn {
        width: 60px;
        padding: 5px;
        font-size: 12px;
        border-radius: 5px;
     }

     .project-sub-container {
        margin: 1rem 0rem 0rem 0rem;
     }


        .project-div {
            height: 7rem;
            padding: 10px;
            border-radius: 8px;
        }
        
            .project-header {
                margin-top: 0;
            }

                .project-header > h2 {
                    font-size: 17px;

                }

                .project-header > h5 {
                    height: 20px;
                    width: 55px;
                    font-size: 8px;
                }

            .link-div {
                width: 13rem;
            }

                .link-div > a {
                    width: 70px;
                    height: 25px;
                    font-size: 10px;
                    border-radius: 5px;
                }



    /* footer section */

    .footer-section {
        height: 23rem;
    }
        .sub-section {
            width: 100%;
            height: 100%;
            margin: 10px 0px 20px 0px;
            padding: 1rem;
        }
                .footer-sub-container-header > h1 {
                    font-size: 16px;
                }

                .footer-sub-container-para {
                    width: 90%;
                }

                .footer-sub-container-para > p {
                    margin: 10px 0px;
                    font-size: 12px;
                }

            .footer-container-2 {
                width: 90%;
            }

                .footer-sub-container-header > h2 {
                    font-size: 16px;
                    margin: 0px 0px 25px;
                }

                .footer-sub-container-links {
                    width: 100%;
                }

                    .contact {
                        font-size: 22px;
                    }
}


